body {
  background-color: rgb(255, 255, 255);
}
figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}
button {
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(236, 225, 210);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
img {
  max-height: 200px;
}
.AvatarText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
